<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@4.0.2/dist/vuex.global.js"></script>
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <title>Proyecto Vue</title>
</head>

<body>
    <header>
        <h1>Mi primer Proyecto</h1>
        <div class="headerimg">
            <h4>links:</h4>
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="github">
            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="linkdledin">
        </div>
    </header>
    <main>
        <div id="todo-list" class="container">
            <h1>Todo App</h1>
            <div>
                <input type="text" placeholder="Add your new note" v-model="todoNew.text">
                <button @click="addTodoItem">+</button>
            </div>

            <div v-for="(item, i) in todoList" :key="i">
                <div>{{item.text}}</div>
                <div>
                    <button>E</button>
                    <button>D</button>

                </div>
            </div>

        </div>

    </main>

    <footer>
    </footer>
    <script src="components/note.js">

    </script>
</body>

</html>